@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
    height: 2000px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.034);
}

.primary-navigation ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.primary-navigation a {
    text-decoration: none;
    color: black;
}

.greta-image {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    max-width: 500px;
}

.primary-navigation a:hover {
    color: red;
}

.primary-navigation a:active {
    color: pink;
}