@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*font-family: "Lato", sans-serif;*/
/*Hex: 354649 / 6C7A89 / A3C6C4 / E0E7E9*/

:root {
    --global-padding-inline: 4rem;
    --black-color: #354649;
    --blue-color: #6C7A89;
    --green-color: #A3C6C4;
    --grey-color: #E0E7E9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-color);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--global-padding-inline);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Lato", sans-serif;
}

.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    gap: 1.4rem;
}

.primary-navigation a {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.85);
}

.nav-link {
    text-decoration: none;
    color: var(--black-color);
}

.logo p {
    font-size: 1.2rem;
}

.nav-button {
    padding: 0.8rem 1.6rem;
    background-color: var(--green-color);
    color: var(--black-color);   
    border: none;
    box-shadow: inset 0px 0px 0px 1.5px var(--blue-color);
}

.dropdown {
    display: flex;
}

.dropdown-content {
    display: none;
    list-style: none;
    flex-direction: column;
    position: absolute;
    padding: 0.4rem 0rem;
    top: 7%;
    gap: 0.2rem;
}

/* DROPDOWN SYMBOL */
.dropdown-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1565rem;
    rotate: 90deg;
    margin-left: 0.5rem;
    transition: rotate ease-in 100ms;
}

#left {
    background-color: black;
    width: 1.2px;
    height: 6px;
    border-radius: 1rem;
    rotate: -45deg;
}

#right {
    background-color: black;
    width: 1.2px;
    height: 6px;
    border-radius: 1rem;
    rotate: 45deg;
}

/* HOVERS */
.dropdown:hover > .dropdown-symbol {
    rotate: 180deg;
}

.dropdown:hover > .dropdown-content {
    display: flex;
}
