@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    background-color: rgb(245, 244, 244);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 80px;
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.100);
}

.hamburger-icon {
    position: absolute;
    right: 4rem;
    top: 25px;
    display: none;
    cursor: pointer;
}

.text-logo {
    cursor: pointer;
}

.primary-navigation ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.primary-navigation li {
    height: 80px; 
    display: flex;
    align-items: center;
}

.navigation-list a:not(.cta-style) {
    text-decoration: none;
    color: black;
}

.primary-navigation p {
    cursor: pointer;
}


.dropdown-content {
    background-color: rgba(255, 255, 255, 0.724);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 5rem; 
    left: -100rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.082);  
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 2rem;
    cursor: pointer;

    opacity: 0
    ;

    transition: 150ms ease-in-out;
}

.dropdown-content div:last-child {
    margin-right: 5rem;
}

.responsive-menu {    
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    background-color: rgb(202, 202, 202);
    inset: 0;
    gap: 2rem;
    transition: all ease-in-out 1s;
}

.cancel-icon {
    width: 42px;
    position: relative;
    left: 82%;
    margin-top: 1.2rem;
}

.responsive-menu a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}


/* Header hovers */
.dropdown-content div:hover {
    color: blue;
}

.dropdown:hover .dropdown-content {
    opacity: 100%;
    left: 0;
} 

.navigation-list a:hover:not(.cta-style),
.navigation-list p:hover {
    color: blue;
}

/* Buttons */
.cta-style {
    background-color: rgb(68, 68, 255);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-decoration: none;

    transition: transform ease-in-out 250ms; 
}

.cta-style:hover {
    transform: translateY(-10%);
}

.outline-btn {
    background-color: rgba(255, 255, 255, 0);
    color: Black;
    font-weight: 600;
    box-shadow: inset 0px 0px 0px 4px black;
    transition: all 200ms ease-in-out; 
}

.outline-btn:hover {
    background-color: rgb(68, 68, 255);
    box-shadow: inset 0px 0px 0px 4px rgb(46, 46, 212);
    color: white;
}


/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;   
}

.hero-image {
    max-width: 25%;
    margin-right: 4rem;
    transition: transform 500ms ease-in-out, scale 250ms ease-in-out;
    cursor: pointer;
}

.hero-text-section {
    max-width: 50%;
}

.hero-text-section h1 {
    font-weight: 800;
}

.hero-text-section h1, .hero-text-section p, .hero-text-section a {
    margin-bottom: 2rem;
}

footer {
    background-color: white;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 700px) {
    header {
        padding-left: 2rem;
    }

    .primary-navigation ul  {
        display: none;
    }

    .hamburger-icon {
        display: flex;
        right: 2rem;
    }

    .hero-section {
        flex-direction: column-reverse;
        align-items: start;
        margin: 2rem;
    }

    .hero-text-section {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 4rem;
        max-width: 70%;
    }
}
